<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>filter.loginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CreatePostServlet</servlet-name>
        <servlet-class>servlets.CreatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidRegister</servlet-name>
        <servlet-class>servlets.ValidRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidLoginServlet</servlet-name>
        <servlet-class>servlets.ValidLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileInformationServlet</servlet-name>
        <servlet-class>servlets.EditProfileInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCVServlet</servlet-name>
        <servlet-class>servlets.EditCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOfferListServlet</servlet-name>
        <servlet-class>servlets.AddOfferListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HireFreelanceServlet</servlet-name>
        <servlet-class>servlets.HireFreelanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailJobNotiServlet</servlet-name>
        <servlet-class>servlets.DetailJobNotiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailUserNotiServlet</servlet-name>
        <servlet-class>servlets.DetailUserNotiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailHiredJobServlet</servlet-name>
        <servlet-class>servlets.DetailHiredJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportJobServlet</servlet-name>
        <servlet-class>servlets.ReportJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailReportServlet</servlet-name>
        <servlet-class>servlets.DetailReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanJobServlet</servlet-name>
        <servlet-class>servlets.BanJobServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePostServlet</servlet-name>
        <url-pattern>/CreatePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidRegister</servlet-name>
        <url-pattern>/ValidRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidLoginServlet</servlet-name>
        <url-pattern>/ValidLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileInformationServlet</servlet-name>
        <url-pattern>/EditProfileInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCVServlet</servlet-name>
        <url-pattern>/EditCVServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOfferListServlet</servlet-name>
        <url-pattern>/AddOfferListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HireFreelanceServlet</servlet-name>
        <url-pattern>/HireFreelanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailJobNotiServlet</servlet-name>
        <url-pattern>/DetailJobNotiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailUserNotiServlet</servlet-name>
        <url-pattern>/DetailUserNotiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailHiredJobServlet</servlet-name>
        <url-pattern>/DetailHiredJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportJobServlet</servlet-name>
        <url-pattern>/ReportJobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailReportServlet</servlet-name>
        <url-pattern>/DetailReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanJobServlet</servlet-name>
        <url-pattern>/BanJobServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
